{% extends 'admin/base.html' %}
{% load myTags %}
{% block main %}
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">订单详情示例</h2>
            </div>
            <table class="table">
                <tr>
                    <td>收件人：{{ order.user.name }}</td>
                    {% for address in order.user.useraddress_set.all %}
                        <td>联系电话：{{ address.tel }}</td>
                        <td>收件地址：{{ address.address }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>订单状态：<a>已付款，待发货</a></td>
                    <td colspan="3">订单备注：
                        <mark>帮我检查好呀~谢谢~</mark>
                    </td>
                </tr>
            </table>
            <table class="table">
                {% for goods in order_goods %}
                <tr>
                    <td class="center"><img src="/media/{{ goods.goods.icon }}" width="50" height="50"/></td>
                    <td>{{ goods.goods.name }}</td>
                    <td class="center"><strong class="rmb_icon">{{ goods.goods.price }}</strong></td>
                    <td class="center"><strong>{{ goods.goods_num }}</strong></td>
                    <td class="center"><strong class="rmb_icon">{% mul goods.goods_num goods.goods.price %}</strong></td>
                    <td class="center">包</td>
                </tr>
            {% endfor %}

            </table>
            <aside class="mtb" style="text-align:right;">
                <label>管理员操作：</label>
                <input type="text" class="textbox textbox_295" placeholder="管理员操作备注"/>
                <input type="button" value="打印订单" class="group_btn"/>
                <input type="button" value="确认订单" class="group_btn"/>
                <input type="button" value="付款" class="group_btn"/>
                <input type="button" value="配货" class="group_btn"/>
                <input type="button" value="发货" class="group_btn"/>
                <input type="button" value="确认收货" class="group_btn"/>
            </aside>
        </div>
    </section>
{% endblock %}