{% extends 'ttsx/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>天天生鲜-商品详情</title>
{% endblock %}

{% block choice %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    {% for category in c_list %}
                        <li><a href="{% url 'ttsx:more' category.id '0' %}" class="fruit">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block content %}


    <div class="breadcrumb">
        <a href="{% url 'ttsx:more' 0 0 %}">全部分类</a>
        <span>></span>
        {% for category in c_list %}
            {% if category.id == cid %}
                <a href="{% url 'ttsx:more' category.id 0 %}">{{ category.name }}</a>
            {% endif %}
        {% endfor %}
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="/media/{{ goods.icon }}" style="height: 350px; width: 350px"></div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.name }}</h3>
            <p>{{ goods.introducte }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ goods.price }}</em></span>
                <span class="show_unit">单  位：{{ goods.specifics }}</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<em>16.80元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for goods in goods_list %}
                        {% if goods.Popularity == 1 and cid != 0 %}
                            <li>
                                <a href="{% url 'ttsx:detail' goods.category_id goods.id %}"><img src="/media/{{ goods.icon }}"></a>
                                <h4><a href="{% url 'ttsx:detail' goods.category_id goods.id %}">{{ goods.name }}</a>
                                </h4>
                                <div class="prize">￥{{ goods.price }}</div>
                            </li>
                        {% elif goods.Popularity == 1 and cid == 0 %}
                            {% if forloop.counter < 5 %}
                                <li>
                                    <a href="{% url 'ttsx:detail' goods.category_id goods.id %}"><img src="/media/{{ goods.icon }}"></a>
                                    <h4>
                                        <a href="{% url 'ttsx:detail' goods.category_id goods.id %}">{{ goods.name }}</a>
                                    </h4>
                                    <div class="prize">￥{{ goods.price }}</div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>
                        {{ goods.introducte }}
                    </dd>
                </dl>
            </div>

        </div>
    </div>



    <script type="text/javascript" src="js/jquery-1.12.2.js"></script>
    <script type="text/javascript">
        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})
        $('#add_cart').click(function () {
            $(".add_jump").stop().animate({
                    'left': $to_y + 7,
                    'top': $to_x + 7
                },
                "fast", function () {
                    $(".add_jump").fadeOut('fast', function () {
                        $('#show_count').html(2);
                    });

                });
        })
    </script>
{% endblock %}