{% extends 'ttsx/base.html' %}

{% block title %}
    <title>天天鲜生-首页</title>
{% endblock %}

{% block content %}
    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for category in c_list %}
                <li><a href="#model{{ category.id }}" class="fruit">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {% for wheel in w_list %}
                    <li><img src="/media/{{ wheel.img }}" alt="幻灯片"></li>
                {% endfor %}
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {% for nav in m_list %}
                <a href="#" style="height: 135px;"><img src="/media/{{ nav.img }}"></a>
            {% endfor %}
        </div>
    </div>

    {% for category in c_list %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model{{ category.id }}">{{ category.name }}</h3>
                {#                <div class="subtitle fl">#}
                {#                    <span>|</span>#}
                {#                    <a href="#">鲜芒</a>#}
                {#                    <a href="#">加州提子</a>#}
                {#                    <a href="#">亚马逊牛油果</a>#}
                {#                </div>#}

                    <a href="{% url 'ttsx:show' %}?cid={{ category.id }}" class="goods_more fr" id="fruit_more">
                        查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="/media/{{ category.icon }}"></div>
                <ul class="goods_list fl">
                    {% for goods in goods_list %}
                        {% if goods.category.id == category.id %}
                            <li>
                                <h4><a href="#">{{ goods.name }}</a></h4>
                                <a href="#"><img src="/media/{{ goods.icon }}">{{ forloop.counter }}</a>
                                <div class="prize">¥ {{ goods.price }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}



    <script type="text/javascript" src="js/slideshow.js"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if (hasorder) {
            oShownum.innerHTML = '2';
        }

        oFruit.onclick = function () {
            window.location.href = 'list.html';
        }
    </script>
{% endblock %}