{% extends 'ttsx/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>天天鲜生-商品列表</title>
    <script src="{% static '/user/cart_js/function.js' %}" type="text/javascript"></script>
{% endblock %}

{% block choice %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    {% for category in c_list %}
                        <li><a href="{% url 'ttsx:more' category.id '0' %}" class="fruit">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="breadcrumb">
        <a href="{% url 'ttsx:more' 0 0 %}">全部分类</a>
        <span>></span>
        {% for category in c_list %}
            {% if category.id == cid %}
                <a href="#">{{ category.name }}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for goods in goods_list %}
                        {% if goods.Popularity == 1 and cid != 0 %}
                            <li>
                                <a href="{% url 'ttsx:detail' goods.category_id goods.id %}"><img
                                        src="/media/{{ goods.icon }}"></a>
                                <h4><a href="{% url 'ttsx:detail' goods.category_id goods.id %}">{{ goods.name }}</a>
                                </h4>
                                <div class="prize">￥{{ goods.price }}</div>
                            </li>
                        {% elif goods.Popularity == 1 and cid == 0 %}
                            {% if forloop.counter < 5 %}
                                <li>
                                    <a href="{% url 'ttsx:detail' goods.category_id goods.id %}"><img
                                            src="/media/{{ goods.icon }}"></a>
                                    <h4>
                                        <a href="{% url 'ttsx:detail' goods.category_id goods.id %}">{{ goods.name }}</a>
                                    </h4>
                                    <div class="prize">￥{{ goods.price }}</div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="{% url 'ttsx:more' cid '0' %}">默认</a>
                <a href="{% url 'ttsx:more' cid '1' %}">价格</a>
                <a href="{% url 'ttsx:more' cid '2' %}">人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% csrf_token %}
                {% for goods in goods_list %}
                    <li>
                        <a href="{% url 'ttsx:detail' goods.category_id goods.id %}"><img src="/media/{{ goods.icon }}"></a>
                        <h4><a href="detail.html">{{ goods.name }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ goods.price }}</span>
                            <span class="unit">{{ goods.price }}/{{ goods.specifics }}</span>
                            <a href="javascript: add_cart({{ goods.id }})" class="add_goods" title="加入购物车"
                               id="{{ goods.id }}"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="pagenation">
                <a href="{% url 'ttsx:more' cid '0' %}">首页</a>
                {% if goods_list.has_previous %}
                    <a href="{% url 'ttsx:more' cid '0' %}?page_num={{ goods_list.previous_page_number }}">上一页</a>
                {% endif %}
                {% for i in goods_list.paginator.page_range %}
                    <a href="{% url 'ttsx:more' cid '0' %}?page_num={{ i }}">{{ i }}</a>
                {% endfor %}
                {% if goods_list.has_next %}
                    <a href="{% url 'ttsx:more' cid '0' %}?page_num={{ goods_list.next_page_number }}">下一页</a>
                {% endif %}
                <a href="{% url 'ttsx:more' cid '0' %}?page_num={{ goods_list.paginator.num_pages }}">尾页</a>
            </div>
        </div>
    </div>
{% endblock %}