{% extends 'ttsx/base.html' %}
{% load staticfiles %}
{% block title %}
    <title>天天鲜生-用户中心</title>
{% endblock %}

{% block choice %}

{% endblock %}

{% block content %}


    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:mine' %}">· 个人信息</a></li>
                <li><a href="user_center_order.html">· 全部订单</a></li>
                <li><a href="{% url 'user:address' %}" class="active">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            <h3 class="common_title2">收货地址</h3>
            <div class="site_con">
                <dl>
                    <dt>当前地址：</dt>
                    <dd>{{ add.address }} （{{ add.zcpde }} 收） {{ add.tel }}</dd>
                </dl>
            </div>
            <h3 class="common_title2">编辑地址</h3>
            <div class="site_con">
                <form method="post">
                    {% csrf_token %}
                    <div class="form_group">
                        <label>收件人：</label>
                        <input type="text" name="name" value="{{ add.zcpde }}">
                    </div>
                    <div class="form_group">
                        <label>详细地址：</label>
                        <input type="text" name="address" value="{{ add.address }}">
                    </div>
                    <div class="form_group">
                        <label>手机：</label>
                        <input type="text" name="tel" value="{{ add.tel }}">
                    </div>
                    <input type="submit" name="" value="提交" class="info_submit">
                </form>
                <p style="color:red;">{{ msg }}</p>
            </div>
        </div>
    </div>
{% endblock %}